.intro {
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 3vh auto 0;
}

.intro>h2 {
    text-align: center;
    overflow-y: hidden;
    margin-top: 3vh;
}

.main-intro-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;
    max-width: 1000px;
    margin: 0 auto;
}

.intro-text, .intro-photo, .case-text, .case-img {
    max-width: 30vw;
}

.intro-text {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 30vw;
}

.intro-photo {
    width: 30vw;
    height: 30vw;
    align-self: center;
    overflow-y: hidden;
}

.intro-photo>img {
    width: 100%;
}

@media only screen and (max-width: 1200px) {
    .main-intro-content {
        width: 90vw;
    }

    .intro-text {
        max-width: none;
        width: 50vw;
    }
}

@media screen and (max-width: 900px) {
    .main-intro-content {
        flex-direction: column-reverse;
    }

    .intro-text {
        max-width: none;
        width: 90vw;
    }

    .intro-photo {
        width: 90vw;
        max-width: none;
        height: 50vw;
        align-self: center;
        overflow-y: hidden;
        margin-top: 2vh;
    }
}

.intro>button {
    margin: 5vh auto 3vh;
}

.cases {
    height: 100vh;
    background-image: url(../media/gaussian.png);
}

.case-content {
    /* height: 100vh; */
    display: flex;
    align-items: center;
}

.discover {
    margin: 10vh 0;
}