/* intro section */

.intro {
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 3vh auto 0;
}

.intro>h2 {
    text-align: center;
    overflow-y: hidden;
    margin-top: 3vh;
}

.main-intro-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;
    max-width: 1000px;
    margin: 0 auto;
}

.intro-text, .intro-photo {
    max-width: 30vw;
}

.intro-text {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 30vw;
}

.intro-photo, .case-img {
    width: 30vw;
    height: 30vw;
    align-self: center;
    overflow-y: hidden;
}

.intro-photo>img, .case-img>img {
    width: 100%;
}

.intro-photo.desktop {
    display: none;
}

.intro>button {
    margin: 5vh auto 3vh;
}

@media screen and (max-width: 500px) {
    .intro-text {
        width: 90vw;
    }
}

@media screen and (max-width: 900px) {
    .main-intro-content {
        flex-direction: column-reverse;
    }

    .intro-text {
        max-width: none;
        width: 90vw;
    }

    .intro-photo {
        width: 90vw;
        max-width: none;
        height: 40vw;
        align-self: center;
        overflow-y: hidden;
        margin-top: 2vh;
    }

    .intro-photo>img {
        height: 100%;
        width: auto;
        margin: auto;
        display: block;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 501px) {
    .main-intro-content {
        width: 90vw;
    }

    .intro-text {
        max-width: none;
    }
}

@media only screen and (min-width: 900px) {
    .intro-photo.desktop {
        display: block;
    }

    .intro-photo.mobile {
        display: none;
    }
}

/* case section */

.cases {
    height: 100vh;
    background-image: url(../media/gaussian.png);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cases>h2 {
    margin-top: 3vh;
    text-align: center;
}

.case-content {
    display: flex;
    justify-content: space-between;
    gap: 2vw;
    max-width: 1200px;
    margin: 0 auto;
}

.case-text {
    width: 30vw;
}

.case-img {
    height: 50vh;
    width: auto;
}

.case-img>img {
    width: auto;
    height: 100%;
}

.cases>button {
    margin-bottom: 3vh;
}

.buttons {
    display: flex;
    gap: 2vw;
    margin-top: 3vh;
}

/* discover section */

.discover {
    margin: 10vh 0;
}