@media screen and (max-width: 500px) {
    nav {
        position: relative;
        height: 40px;
        width: 100vw;
    }

    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 3vw;
        top: 50%;
        transform: translate(3vw, -50%);
        z-index: 200;
    }
    
    .line {
        width: 30px;
        height: 3px;
        background: transparent;
        border: 1px solid var(--grey);
        margin: 5px;
        border-radius: 50px;
    }
    
    nav > ul.menu-items {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 150;
    padding: 20vh 0 60vh;
    background: var(--bg-color);
    flex-direction: column;
    text-align: center;
    display: none;
    }

    nav > ul.menu-items > a > li {
        font-size: 30px;
    }

    @keyframes slide-in {
        from {
            transform: translateX(150%);
        }
    
        to {
            transform: translateX(0);
        }
    }

    @keyframes slide-out {
        from {
            transform: translateX(0);
        }
    
        to {
            transform: translateX(150%);
        }
    }
    
    .slide-in {
        animation: slide-in 300ms 1 ease-out;
    }
    
    .slide-out {
        animation: slide-out 300ms 1 ease-in;
    }
}